<header>
    <a href="" class="logo"> <span> Shobhit </span> Pal </a>

    <nav class="navbar">
        <a href="/">home</a>
        <a href="/">about</a>
        <a href="/">services</a>
        <a href="/">experiance</a>
        <a href="/"> portfolio</a>
        <a href="/contact.html">contact</a>

    </nav>


    <div class="follow">
        <a href="https://www.facebook.com/shobhit.pal.5249/" class="fab fa-facebook"></a>
        <a href="https://twitter.com/shobhit87718411" class="fab fa-twitter"></a>
        <a href="https://www.instagram.com/palshobhit318/" class="fab fa-instagram"></a>
        <a href="https://www.linkedin.com/in/shobhit-pal-b65147240/" class="fab fa-linkedin"></a>
        <!-- <a href="" class="fab fa-email"></a> -->
    </div>
</header>